# Read train and test dasets

In [19]:
import pandas as pd

train = pd.read_csv('train_sessions.csv')
test = pd.read_csv('test_sessions.csv', na_values=0)

# Analyze null data in train dataset

In [20]:
train.isnull().sum()

session_id         0
site1              0
time1              0
site2           3463
time2           3463
site3           6642
time3           6642
site4           9240
time4           9240
site5          11732
time5          11732
site6          14066
time6          14066
site7          16264
time7          16264
site8          18337
time8          18337
site9          20477
time9          20477
site10         22509
time10         22509
target        251264
dtype: int64

# Analyze null data in test dataset

In [9]:
test.isnull().sum()

session_id       0
site1            0
time1            0
site2         1489
time2         1489
site3         2722
time3         2722
site4         3615
time4         3615
site5         4456
time5         4456
site6         5231
time6         5231
site7         5957
time7         5957
site8         6646
time8         6646
site9         7313
time9         7313
site10        7991
time10        7991
dtype: int64

# Analyze data types in train dataset

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253561 entries, 0 to 253560
Data columns (total 22 columns):
session_id    253561 non-null int64
site1         253561 non-null int64
time1         253561 non-null object
site2         250098 non-null float64
time2         250098 non-null object
site3         246919 non-null float64
time3         246919 non-null object
site4         244321 non-null float64
time4         244321 non-null object
site5         241829 non-null float64
time5         241829 non-null object
site6         239495 non-null float64
time6         239495 non-null object
site7         237297 non-null float64
time7         237297 non-null object
site8         235224 non-null float64
time8         235224 non-null object
site9         233084 non-null float64
time9         233084 non-null object
site10        231052 non-null float64
time10        231052 non-null object
target        253561 non-null int64
dtypes: float64(9), int64(3), object(10)
memory usage: 42.6+ MB

# Analyze data types in test dataset

In [11]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82797 entries, 0 to 82796
Data columns (total 21 columns):
session_id    82797 non-null int64
site1         82797 non-null int64
time1         82797 non-null object
site2         81308 non-null float64
time2         81308 non-null object
site3         80075 non-null float64
time3         80075 non-null object
site4         79182 non-null float64
time4         79182 non-null object
site5         78341 non-null float64
time5         78341 non-null object
site6         77566 non-null float64
time6         77566 non-null object
site7         76840 non-null float64
time7         76840 non-null object
site8         76151 non-null float64
time8         76151 non-null object
site9         75484 non-null float64
time9         75484 non-null object
site10        74806 non-null float64
time10        74806 non-null object
dtypes: float64(9), int64(2), object(10)
memory usage: 13.3+ MB

# Convert time columns to datetime

In [12]:
train['time11'] = pd.to_datetime(train['time10'])

In [18]:
test.describe()

,session_id,site1,site2,site3,site4,site5,site6,site7,site8,site9,site10
count,82797.000000,82797.000000,81308.000000,80075.000000,79182.000000,78341.000000,77566.000000,76840.000000,76151.000000,75484.00000,74806.000000
mean,41399.000000,4171.849222,4147.442367,4184.994168,4252.491930,4204.713688,4206.955032,4272.329230,4250.169624,4365.81975,4370.203152
std,23901.579456,9889.731240,9880.269377,9989.521163,10074.595053,9968.228603,9988.481243,10082.180876,10024.760129,10198.51818,10189.244294
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000
25%,20700.000000,65.000000,63.000000,58.000000,56.000000,63.000000,57.000000,65.000000,65.000000,70.00000,70.000000
50%,41399.000000,722.000000,679.000000,679.000000,679.000000,719.000000,707.000000,733.000000,733.000000,747.00000,747.000000
75%,62098.000000,1515.000000,1445.000000,1445.000000,1445.000000,1445.000000,1445.000000,1477.000000,1508.000000,1523.00000,1589.000000
max,82797.000000,48370.000000,48370.000000,48370.000000,48371.000000,48370.000000,48370.000000,48370.000000,48370.000000,48370.00000,48370.000000