# Read train and test dasets

In [1]:
import pandas as pd

train = pd.read_csv('train_sessions.csv')
test = pd.read_csv('test_sessions.csv')

# Analyze data types in train dataset

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253561 entries, 0 to 253560
Data columns (total 22 columns):
session_id    253561 non-null int64
site1         253561 non-null int64
time1         253561 non-null object
site2         250098 non-null float64
time2         250098 non-null object
site3         246919 non-null float64
time3         246919 non-null object
site4         244321 non-null float64
time4         244321 non-null object
site5         241829 non-null float64
time5         241829 non-null object
site6         239495 non-null float64
time6         239495 non-null object
site7         237297 non-null float64
time7         237297 non-null object
site8         235224 non-null float64
time8         235224 non-null object
site9         233084 non-null float64
time9         233084 non-null object
site10        231052 non-null float64
time10        231052 non-null object
target        253561 non-null int64
dtypes: float64(9), int64(3), object(10)
memory usage: 42.6+ MB

# Analyze data types in test dataset

In [11]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82797 entries, 0 to 82796
Data columns (total 21 columns):
session_id    82797 non-null int64
site1         82797 non-null int64
time1         82797 non-null object
site2         81308 non-null float64
time2         81308 non-null object
site3         80075 non-null float64
time3         80075 non-null object
site4         79182 non-null float64
time4         79182 non-null object
site5         78341 non-null float64
time5         78341 non-null object
site6         77566 non-null float64
time6         77566 non-null object
site7         76840 non-null float64
time7         76840 non-null object
site8         76151 non-null float64
time8         76151 non-null object
site9         75484 non-null float64
time9         75484 non-null object
site10        74806 non-null float64
time10        74806 non-null object
dtypes: float64(9), int64(2), object(10)
memory usage: 13.3+ MB

# Fill null data in train dataset

In [6]:
train = train.fillna(0)
test = test.fillna(0)

# Convert time columns to datetime

In [10]:
time_columns = ['time1', 'time2', 'time3', 'time4', 'time5', 'time6', 'time7', 'time8', 'time9', 'time10']

for column in time_columns:
    train[column] = pd.to_datetime(train[column])
    test[column] = pd.to_datetime(test[column])

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253561 entries, 0 to 253560
Data columns (total 23 columns):
session_id    253561 non-null int64
site1         253561 non-null int64
time1         253561 non-null datetime64[ns]
site2         253561 non-null float64
time2         253561 non-null datetime64[ns]
site3         253561 non-null float64
time3         253561 non-null datetime64[ns]
site4         253561 non-null float64
time4         253561 non-null datetime64[ns]
site5         253561 non-null float64
time5         253561 non-null datetime64[ns]
site6         253561 non-null float64
time6         253561 non-null datetime64[ns]
site7         253561 non-null float64
time7         253561 non-null datetime64[ns]
site8         253561 non-null float64
time8         253561 non-null datetime64[ns]
site9         253561 non-null float64
time9         253561 non-null datetime64[ns]
site10        253561 non-null float64
time10        253561 non-null datetime64[ns]
target        253561 non-null int64
time11        253561 non-null datetime64[ns]
dtypes: datetime64[ns](11), float64(9), int64(3)
memory usage: 44.5 MB